{{!-- this file contain all the html which is common that all the pages will use with this layout --}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		{{{body}}}
	</body>
</html>
